body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
}

strong {
  color: #d32f2f;
  font-weight: bold;
}

.QuestItem {
  background-color: #f7c42b;
  padding: 0 5px;
  border-radius: 4px;
}

.character {
  font-weight: bold;
  color: #1e88e5;
  text-transform: capitalize;
}


em {
  font-style: italic;
  color: #7b7b7b;
}


.faction {
  color: #9c27b0; 
  font-weight: bold;
}

.location {
  color: #1976d2; 
  font-style: italic;
  text-decoration: underline;
}

p {
  font-size: 1em;
  margin-bottom: 1em;
}
