body {
background-color: BurlyWood;
color: indigo;
font-family: arial, helvetica, sans-serif;
}
ol {list-style-type: lower-alpha;
padding: 5em;
}

ellipse:hover {
  fill: skyblue; /* It says "fill" isn't a property, but it's the only one that works */
  transition: fill 0.3s ease;
}